@media (max-width:1920px) {
    .wrapper {
        width: 100%;
    }
    .nav-header .logo {
        margin: 20px 30px;
    }
    .menu {
        margin-top: 29px;
        margin-left: 233px;
        text-transform: uppercase;
    }
    .nav-header .menu li {
        margin: 0px;
    }
    .nav-header .menu a {
        margin-left: 50.2px;
    }
    .nav-header .icoin {
        margin-left: 402px;
    }
    .nav-header-icon-cart {
        margin-left: 25px;
    }
}

@media (max-width:1440px) {
    .menu {
        margin: auto;
    }
    .nav-header .menu ul {
        margin-left: -10px;
    }
    .nav-header .icoin {
        margin: auto;
    }
    .nav-header .icoin ul {
        margin-right: -40px;
    }
    .nav-header-icon-cart {
        margin-left: 15px;
    }
    .nav-icoin {
        font-size: 50px;
    }
}

@media (max-width:1366px) {
    .nav-header .menu ul {
        margin-left: -25px;
    }
    .nav-header .icoin ul {
        margin-right: -15px;
    }
}

@media (max-width:1024px) {
    .nav-header .logo {
        width: 200px;
    }
    .nav-header .logo img {
        width: 100%;
    }
    .nav-header .menu {
        margin-left: 0;
    }
    .nav-header .menu ul {
        margin-left: -15px;
    }
    .nav-header .menu a {
        margin-left: 20px;
    }
    .nav-header .menu .main-menu-search-icon {
        margin-left: 20px;
    }
    .nav-header .icoin ul {
        margin-right: 10px;
    }
    .banner-panel {
        max-width: 900px;
        margin: auto;
    }
    .banner-panel img {
        width: 100%;
    }
    .pnr-top {
        margin-bottom: 22px;
    }
    .panel-left .txt-box1 {
        left: 33%;
    }
    .mc-box {
        width: 900px;
    }
    .box-product {
        width: 205px;
    }
    .box-product img {
        width: 100%;
    }
    .box-product .btn-add-cart {
        left: 22px;
        top: 232px;
    }
    #blg-post {
        width: 900px;
    }
    .slide .post {
        width: 286px;
        height: 370px;
        margin: 10;
    }
    .slide .box-img img {
        width: 100%;
    }
    .footer-up-container,
    .footer-down-container {
        width: 900px;
    }
    .about-us,
    .address {
        width: 200px;
    }
    .navigation {
        width: 330px;
    }
    .address,
    .navigation {
        margin-left: 85px;
    }
}

@media (max-width:768px) {
    @-moz-document url-prefix() {
        .nav-header .icoin ul {
            margin-right: 10px;
            margin-top: -18px;
        }
    }
    .top-header {
        padding: 15px 20px;
        font-size: 10px;
    }
    .t-header-right .sm-icoin {
        font-size: 10px;
    }
    .nav-header .logo {
        width: 150px;
        margin-left: 20px;
    }
    .nav-header .menu {
        font-size: 10px;
        margin-left: -30px;
    }
    .nav-header .menu ul {
        margin-left: 0px;
    }
    .nav-header .icoin a {
        font-size: 20px;
    }
    .banner-panel {
        width: 730px;
    }
    .banner-panel img {
        width: 100%;
    }
    .panel-left .txt-box1 {
        left: 40%;
    }
    .panel-left .txt-banner1 {
        font-size: 22px;
    }
    .panel-left .txt-box1 .btn-shop-now {
        margin-left: 127px;
    }
    .mc-box {
        width: 730px;
    }
    .mc-title {
        text-align: center;
    }
    .mc-title .line-title {
        margin: auto;
    }
    .box-mc-title {
        margin-left: 0;
    }
    .mc-products {
        width: 100%;
        margin: auto;
    }
    .box-product {
        width: 170px;
    }
    .box-product .btn-add-cart {
        left: 9px;
        top: 160px;
    }
    .box-product p {
        font-size: 12px;
    }
    .box-product .prices,
    .star-votes {
        font-size: 12px;
        margin-top: 9px;
    }
    #blg-post {
        width: 730px;
    }
    .cart3,
    .cart6,
    .cart9 {
        display: none;
    }
    .slide .post {
        width: 350px;
        height: 392px;
        margin: 15px;
    }
    .footer-up-container,
    .footer-down-container {
        width: 730px;
    }
    .about-us {
        width: 500px;
        margin: auto;
        text-align: center;
        padding-bottom: 20px;
    }
    .browser .icoin-browser {
        margin-left: 20px;
    }
    .navigation,
    .address {
        width: 300px;
        margin: auto;
        text-align: center;
    }
    .navigation .nav-menu {
        line-height: 20px;
        justify-content: center;
    }
    .nav-menu1 {
        margin-right: 14px;
    }
    .address,
    .navigation {
        margin-top: 0;
    }
    .address .info-address {
        justify-content: center;
    }
}

@media(max-width: 425px) {
    .top-header {
        display: none;
    }
    #icon-bar,
    .icon-times {
        display: block;
        z-index: 2;
        margin-top: 25;
        margin-right: 12px;
        font-size: 18px;
    }
    .icon-times {
        position: absolute;
        right: 2px;
        display: none;
    }
    .nav-header .logo {
        width: 150px;
        margin-left: 12px;
    }
    .nav-header {
        position: relative;
    }
    .nav-header .menu {
        position: fixed;
        top: -1000px;
        width: 425px;
        height: 100%;
        background-color: hsl(180, 83%, 77%);
        padding-left: 30px;
        overflow-y: auto;
    }
    .nav-header .menu .main-menu-search-icon {
        margin-left: 0;
        text-indent: 10px;
    }
    .nav-header .menu li {
        width: 100%;
        height: 30px;
        padding-top: 20px;
        display: list-item;
        list-style: none;
        border-bottom: 1px dotted black;
    }
    .nav-header .menu li:hover {
        background-color: silver;
    }
    .nav-header .menu a:hover {
        color: #ffffff;
    }
    .search-reponsive {
        margin: auto;
    }
    .icon-search-reponsive {
        display: block;
        margin-left: 50px;
    }
    .input-search {
        position: absolute;
        min-width: 150px;
        background-color: #282828;
        box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
        margin-left: -75px;
        margin-top: 10px;
        padding: 12px 16px;
        z-index: 1;
    }
    .input-search input {
        background-repeat: no-repeat;
        background-position: right;
    }
    .icon-times.active {
        position: fixed;
        display: block;
        z-index: 3;
        transition: .25s;
    }
    .nav-header .menu.show {
        padding-top: 60px;
        top: 0;
        opacity: 1;
        z-index: 3;
        height: 100%;
        transition: .3s ease-in-out;
    }
    .banner-panel {
        width: 400px;
        display: block;
        margin: auto;
    }
    .banner-panel img {
        width: 100%;
    }
    .banner-panel .palnel-right {
        margin-left: 0px;
    }
    .banner-panel .pnr-top {
        margin-bottom: 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .panel-left .txt-box1 {
        left: 30%;
    }
    @-moz-document url-prefix() {
        .panel-left .txt-box1 {
            left: 28%;
        }
        .panel-left .txt-banner1 {
            font-size: 16px;
            margin-left: 60px;
        }
    }
    .mc-box {
        width: 425px;
    }
    .mc-title {
        text-align: center;
    }
    .mc-title .line-title {
        margin: auto;
    }
    .box-mc-title {
        margin-left: 0;
    }
    .mc-products {
        width: 100%;
        justify-content: center;
    }
    .box-product {
        margin: auto;
        width: 185;
    }
    .box-product .btn-add-cart {
        top: 180px;
    }
    #blg-post {
        width: 400px;
    }
    /* .post {
        width: 200px;
    } */
    .cart2,
    .cart3,
    .cart5,
    .cart6,
    .cart8,
    .cart9 {
        display: none;
    }
    .slide.slide2,
    .slide.slide3 {
        display: none;
    }
    .footer-up-container,
    .footer-down-container {
        width: 400px;
    }
    .nav-menu {
        display: unset;
        text-align: center;
    }
    .nav-menu .nav-menu1 {
        margin-right: 0;
    }
    .address .txt-address {
        margin-top: 20px;
        margin-left: 0;
    }
    .footer-down-container {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        box-orient: vertical;
        text-align: center;
    }
    .ftd-left {
        -webkit-box-ordinal-group: 2;
        box-ordinal-group: 2;
        margin: auto;
    }
    .payment {
        text-align: unset;
        margin-bottom: 20px;
    }
}

@media (max-width: 375px) {
    .icon-search-reponsive {
        margin-left: -5px;
    }
    .input-search {
        margin-left: -108px;
    }
    .banner-panel {
        width: 350px;
    }
    .banner-panel .pnr-top {
        width: 300px;
        margin: auto;
    }
    .panel-left .txt-box1 {
        left: 20%;
    }
    .mc-box {
        width: 350px;
    }
    .box-product {
        width: 170px;
    }
    .box-product .btn-add-cart {
        top: 150px;
    }
    #blg-post,
    .slide.post {
        width: 350px;
    }
    .slide.slide2,
    .slide.slide3 {
        overflow: unset;
    }
    .footer-up-container,
    .footer-down-container {
        width: 350px;
    }
}

@media(max-width:320px) {
    .icon-search-reponsive {
        display: none;
    }
    .icon-times {
        right: 2px;
    }
    .banner-panel,
    .mc-box,
    #blg-post,
    .post,
    .footer-up-container,
    .footer-down-container {
        width: 300px;
    }
    .panel-left .txt-box1 {
        left: 10%;
    }
    .panel-left .txt-banner1 {
        font-size: 16px;
        margin-left: 63px;
    }
    .box-product {
        width: 265px;
    }
    .box-product .btn-add-cart {
        top: 280px;
    }
    .slide .post {
        width: 320px;
    }
    .ftd-left {
        font-size: 12px;
    }
}